#mirador_viewer {
  height: 600px;
  width: 100%;
  position: relative;
}

#minerva-browser {
  position: relative;
  display: block;
  width: 100%;
  height: 1000px;
}
#minerva-browser-closer {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: white;
  border: 2px solid var(--hokieMaroon);
  padding: 2px 5px;
  a {
    color: var(--hokieOrange);
  }
}
#minerva-open-dialog {
  position: relative;
  display: block;
  font-size: 1.2rem;
  margin-top: 15px;
}
img.minerva-thumbnail {
  width: 350px;
}

nav#vt_nav.hidden {
  display: none;
}

@media (min-width: 768px) {
  #mirador_viewer {
    height: 800px;
  }
}
